{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <h1 class="container-fluid py-4">Contact List</h1>

  <div class="container d-flex">
    {% for list in mylists %}
    <div class="card ml-2 mr-2" style="width: 22rem">
      <div class="card-body">
        <h5 class="card-title">{{list.name}}</h5>
        <p class="card-text">{{list.description}}</p>
        <a href="#" class="btn btn-primary">View tasks</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}
